body{
    background-color: gray;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    display: grid;
    justify-content: center;
}
form{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    padding: 1em;
}
input{
    background-color: rgb(49, 47, 47);
    color: white;
    padding: 1.5em;
    border-radius: 1em;
}


input[name ="resultado"]{
    background-color: antiquewhite;
    color: black;
    resize: none;
    border-radius: 1em;
    grid-column-start: 1;
    grid-column-end: 6; 
    border-color:black;
    border-width: 0.5em;
}
textarea[name="pila"]{
    background-color: antiquewhite;
    color: black;
    resize: none;
    border-radius: 1em;
    grid-column-start: 1;
    grid-column-end: 6; 
    border-color:black;
    border-width: 0.5em;
}
label{
    font-size: 1.3em;
    border-radius: 1em;
    color: white;
    background-color: black;
    padding: 0.5em;
}
