body{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    display: grid;
    justify-content: center;
    margin: 1em;
    border-radius: 1em;
    font-size: 1em;
    color: white;
    background-color: black;
}
form{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    padding: 1em;
}
input:first-of-type {
    background-color: white;
    color: black;
    grid-column-start: 1;
    grid-column-end: 6;  
  }
input{
    background-color: rgb(219, 213, 213);
    color: black;
    padding: 1.5em;
}
label{
    font-size: 1.3em;
    border-radius: 1em;
    color: white;
    background-color: black;
    padding: 0.5em;
}
input[name = "ac1"], input[name= "ac2"]{
    grid-column-start: 4;
    grid-column-end: 6;
}
input[value = "0"], input[value= "1"], input[value= "2"], input[value= "3"], input[value= "4"], input[value= "5"]{
    background-color: white;
    color: black;
}
input[value= "6"], input[value= "7"], input[value= "8"], input[value= "9"], input[value= "."]{
    background-color: white;
    color: black;
}

