body{
    background: mediumaquamarine;
    display: grid;
    justify-content: center;
    color: black;
}
nav{
    display: grid;
    justify-content: center;
}



nav ul li{
    list-style-type: none;
    margin: 1em;
    border-radius: 1em;
    font-size: 1em;
}
footer{
    margin: 2em;
}
li{
    margin: 1em;
}
p{
    margin: 1em;
}
form{
    display: grid;
    justify-content: center;
}
input,select{
    margin: 0.5em;
}


