body{
	background-color: lightyellow;
	font-family: sans-serif;
    color: black;
    display: grid;
    justify-content: center;
}
h1{
	color:blue;	
    background-color: lightyellow;
}

