/*****************
 Autor: Alonso Antuña Gómez - UO282834
 Descripción de la hoja de estilo: Hoja css del Ejercicio 7
 ******************/
 body{
    background-color:white;
    color:black;
    font-family: sans-serif;
}
h1{
    color:black;
    background-color:white;
}
h2{
    color: black;
    background-color:white;
}
h3{
    color: black;
    background-color:white;
}
h4{
    color:green;
    background-color:white;
}
p{
    color:black;
    background-color:white;
}
table{
    border-collapse: collapse;
}
main{
    display:grid;
    justify-content: center;
}

table caption{
  color: black;
  background-color:white;
  font-family: sans-serif;
  font-size: 1.3em;
}

th,td{
    border: 1em black;
}
th{
    color: black;
    background-color:white;
    font-family: sans-serif;
    font-size: 1.1em;
}
input{
    margin: 1em;
}
  