body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
}
h1{
    color: red;
    background-color: white;
    font-size: 2.5em;
}
h2{
    color: gray;
    background-color: white;
    font-size: 2em;
}
h3{
    color: violet;
    background-color: white;
    font-size: 1.5em;
}
h4{
    color: green;
    background-color: white;
    font-size: 1em;
}
p{
    font-size: 1.1em;
}