body{
    background: mediumaquamarine;
    display: grid;
    justify-content: center;
    color: black;
}
nav{
    display: grid;
    justify-content: center;
    margin:1em;
}

a{
    margin: 0.5em;
}



footer{
    margin: 2em;
}

p{
    margin: 1em;
}
form{
    display: grid;
    justify-content: center;
}
input,select{
    margin: 0.5em;
}
label{
    margin: 1em;
}


