body{
	display: grid;
    justify-content: center;
    background-color: white;
    color: black;
}
footer{
    margin: 2em;
}
input{
    margin: 2em;
}

main{
    height: 40em;
    width: 100%;
}