body{
    background-color: aquamarine;
    color: black;
    display: grid;
    justify-content: center;
    font-size: 2em;
}
label{
    margin: 1em;
}
input{
    margin: 1em;
}
main{
   height: 30em;
    width: 100%;
}