body{
    background-color: gray;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    display: grid;
    justify-content: center;
    margin: 1em;
    border-radius: 1em;
    font-size: 1em;
    color: white;
    background-color: red;
}
form{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    padding: 1em;
}
input:first-of-type {
    background-color: white;
    color: black;
    grid-column-start: 1;
    grid-column-end: 6;  
  }
input{
    background-color: antiquewhite;
    color: black;
    padding: 2em;
    border-radius: 1em;
}
input[value="ON/C"]{
    background-color: antiquewhite;
    color: black;
    padding: 1.5em;
    border-radius: 1em;
}
input[value="+"]{
    grid-row: span 2;
}
label{
    font-size: 1.3em;
    border-radius: 1em;
    color: white;
    background-color: red;
    padding: 0.5em;
}
