/*****************
 Autor: Alonso Antuña Gómez - UO282834
 Descripción de la hoja de estilo:
 ******************/
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(195, 195, 204);
    color: #202121;
}
h1{
    color: white;
    margin: 1.5em;
    font-size: 2.5em;
    background-color: #A81900;
}
h2{
    font-size: 1.5em;  
    padding: 2.5em;
    margin: 1em;  
    border-radius: 180%;
    background-color: rgb(235, 94, 69);
    color: #202121;
}
header{
    background-color: tomato;
    color: #202121;
    padding: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    
}
p{
    margin-left: 2em;
    margin-right: 2em;
}
nav{
    background-color: rgb(133, 128, 128);
    color: black;
    margin-left: 1em;
    margin-right: 1em;
}
a {
    margin: 0.7em;
    padding: 0.8em;
    border-radius: 1em;
    background-color: rgb(183, 177, 177);
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:hover{
    background-color: #202121;
    color: rgb(194, 102, 9);
}
article a{
    margin: 0.7em;
    padding: 0.8em;
    border-radius: 1em;
    font-size: 0.9em;
    background-color: rgb(183, 177, 177);
    color: black;
    text-decoration: none;
}
form{
	padding:2.5em;
    font-size: 1.1em;
	border-radius:0.8em;
	background-color:#ccc;
    color: #202121;
}
form label{
	width:2.2em;
}

footer{
    margin: 1.3em;
}
video{
    max-width: 65%;
    max-height: 65%;
    width: 100%;
    height: auto;
}
img{
    min-width: 10%;
    min-height: 10%;
}

table {
    font-family:Georgia,serif,Times; 
    font-size:1em; 
    border-radius: 1em;
    background-color: rgb(183, 177, 177);
    color: #202121;
    padding:2em;
}
 
td, th {
    background-color: #C4BFBF;
    color: #202121;
    border-radius: 1em;
    padding: 1em;
}
ol{
    font-family:Georgia,serif,Times; 
    font-size:1em; 
    border-radius: 1em;
    background-color: rgb(183, 177, 177);
    color: black;
    padding:2em;
}
li,ul{ 
    border-radius: 1em;
    font-family:Georgia,serif,Times; 
    font-size:1em; 
    background-color: rgb(130, 126, 126);
    color: black;
}

ul li{
    width:25em; 
    height:2em; 
    border-radius: 2em;
    padding-left:0.5em;
    margin: 0.5em;
    text-decoration:none; 

}




  