/*****************
 Autor: Alonso Antuña Gómez - UO282834
 Descripción de la hoja de estilo:
 ******************/
 /*
    Especificidad 0 0 1
 */
body{
    display: flex;
    flex-direction: column;
}
 /*
    Especificidad 0 0 2
 */
body header{
    display: flex;
    justify-content: center;
}
 /*
    Especificidad 0 0 2
 */
body nav{
    display : flex;
    justify-content: center;
}
 /*
    Especificidad 0 0 2
 */
body main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
 /*
    Especificidad 0 0 2
 */
body aside{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
 /*
    Especificidad 0 0 2
 */
body footer{
    display: grid;
    justify-content: center;
}
 /*
    Especificidad 0 0 2
 */
body article{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
 /*
    Especificidad 0 0 3
 */
body article section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

